@import '../../assets/vars';

.button {
    padding: 1.2em 3.2em;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: $primary;
    font-weight: 500;
    font-size: 1.125em;
    transition: all .2s ease;

    @media screen and (max-width: 1100px) {
        padding: 1em 2.8em;
        font-size: 0.9em;
    }

    @media screen and (max-width: 1100px) {
        padding: 0.5em 2em;
        font-size: 0.9em;
    }

    &:hover {
        border-color: $seccondary;
        // color: $seccondary;
    }
}