@import '../../assets/vars';


.control {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding-left: calc(22px + 15px);
    cursor: pointer;
    font-size: 0.75em;
    color: $seccondary;

    @media screen and (max-width: 1100px) {
        font-size: 0.5em;
    }

    @media screen and (max-width: 900px) {
        padding-left: calc(22px + 5px);
    }

    a {
        text-decoration: underline;
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &_indicator {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        border: 2px solid $primary;

        @media screen and (max-width: 1100px) {
            width: 19px;
            height: 19px;
        }
    }
}
.control_indicator::after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator::after {
    display: block;
}
.control_checkbox .control_indicator::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 10px;
    background: url('../../assets/check.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: $seccondary;

    @media screen and (max-width: 1100px) {
        width: 9px;
        height: 8px;
    }
}